/* Estilos para a logo */
.logo {
    display: inline-block;
}

/* Estilos para o menu de navegação */
.menu {
    margin-right: 20px;
}

/* Estilos para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
    margin: 0;
}

/* Estilos para o cabeçalho */
header {
    background-color: #8B4513;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin: 0;
}

/* Estilos para o menu de navegação */
.menu nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu nav ul li {
    display: inline-block;
}

.menu nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
    position: relative;
}

.menu nav ul li a::after {
    content: "";
    width: 0px;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 10px;
    left: 0;
    transition: width 0.5s;
}

.menu nav ul li a:hover::after {
    width: 100%;
}

/* Estilos para as seções */
section {
    margin-bottom: 30px;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

/* Estilos para o conteúdo principal */
main {
    padding: 20px;
}

/* Estilos para o container */
.container {
    position: relative;
    text-align: center;
}

/* Estilos para o slider de imagens */
.container .slider {
    display: inline-block;
    position: relative;
}

.container .slider img {
    max-width: 100%;
    height: auto;
}

/* Estilos para os botões de navegação do slider */
.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

/* Estilos para o mapa */
#map {
    width: 50%;
    height: 300px;
    margin: 0 auto;
    display: block;
}

/* Estilos para o ícone do WhatsApp */
#whatsapp {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9999;
}
